@model SistemaPedidos.Models.ViewModels.PedidosViewModel

@{
    ViewData["Title"] = "Criar";
}

<h2>Criar</h2>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pedido.Prato" class="control-label"></label>
                <select asp-for="Pedido.Prato.Id" asp-items="@(new SelectList(Model.Pratos, "Id",
            "Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Pedido.Bebida" class="control-label"></label>
                <select asp-for="Pedido.Bebida.Id" asp-items="@(new SelectList(Model.Bebidas, "Id",
            "Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Pedido.Mesa" class="control-label"></label>
                <input asp-for="Pedido.Mesa" class="form-control" />
                <span asp-validation-for="Pedido.Mesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pedido.NomeDoSolicitante" class="control-label"></label>
                <input asp-for="Pedido.NomeDoSolicitante" class="form-control" />
                <span asp-validation-for="Pedido.NomeDoSolicitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pedido.Date" class="control-label"></label>
                <input asp-for="Pedido.Date" class="form-control" />
                <span asp-validation-for="Pedido.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pedido.Status" class="control-label"></label>
                <select asp-for="Pedido.Status">
                    <option value="0">Pendente</option>
                    <option value="1">VisualizadoPelaCozinha</option>
                    <option value="2">PegandoBebidaNaCopa</option>
                    <option value="3">PratoPronto</option>
                    <option value="4">Entregue</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
